NOBIL_API_KEY=TU_API_KEY
NOBIL_API_KEY_SECONDARY=
SNAPSHOT_EVERY=300
LOG_LEVEL=INFO
RECONNECT_SECONDS=5
GITHUB_REPO_URL=
GITHUB_BRANCH=main
GITHUB_PUSH_EVERY_MINUTES=60
GCS_BUCKET_NAME=
GCS_PREFIX=
GCS_SYNC_EVERY_MINUTES=60
GOOGLE_APPLICATION_CREDENTIALS=
LOCAL_DELETE_PREVIOUS_DAY=true
DATA_ROOT=data
